---
layout: page
title: Bit Error Rate
subtitle: In digital transmission, the bit error rate ( **BER** ) is the percentage of bits that have been altered due to noise, interference, distortion or bit synchronization errors.
bigimg: "https://lh3.googleusercontent.com/2nD0s5bxyvjU1XYx4UkYKd0Q1oCPQA8ES3T9qQjXVn0UkZ4m3uH22UvuScNWwfI4ZMG3vayUJYsA8q-qsK6akddRYcJC_cTlftHos_MFZOPRT2Cds4bamZoJMnHNPySVrt9uzOTU-APJTKRVUscH6ZINILtUlX90_PVBOTpMBjt0ivfDhmjm48WAX3BaM1Y6bnKk0x2iR6J2QM8ZgDq1sLIOuxvSI5sgbjt-Wy-6EVSLU3dXEL32GhcKC--eLXbGoC0BCWAkNqOjMDRB4gzLLWgbkIOG2aFfr7hN5k3TE-C6C4R60FnU_iNn2MQGpmRRWwaPv9qPRY_U7uSfRvk9cm1Gsa8OVWT8TjLvJtg-bF3dI_KLGgf9SATR0vqrQxxPvljDayipNba_MyQAgPoq513tR-zsmOLtdwC1msSBV9tgvD0Eq0dtrnAQg6pyK5oFpMB-5Xh5TQ7GlQlHU8hSD3xSD8lKkdiEojRLUG6qo1XnhOi2GlzLDyhSMhG5aK4xv34CkyUPnizF1CsQVPNpv3V6uFRIcL_YtcXJA7cTIihpPXHwKE8xi9xFUiAsWbh0n8tQ_zixWEnnUZ9fXsmAUTOxgKPJxNk=w901-h600-no"
---

<!--
<div class="posts-list">
  {% for post in paginator.posts %}
  <article class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
	  <h2 class="post-title">{{ post.title }}</h2>
	
	  {% if post.subtitle %}
	  <h3 class="post-subtitle">
	    {{ post.subtitle }}
	  </h3>
	  {% endif %}  
    </a>

    <p class="post-meta">
      Posted on {{ post.date | date: "%B %-d, %Y" }}
    </p>
  
    <div class="post-entry">
      {{ post.content | truncatewords: 50 | strip_html | xml_escape}}
	  <a href="{{ post.url | prepend: site.baseurl }}" class="post-read-more">[Read&nbsp;More]</a>
    </div>
  
   </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}-->

