---
layout: page
title: Blog
subtitle: Post di cui non si sentiva la mancanza
bigimg: "https://lh3.googleusercontent.com/Vzmq4as1Ejo40MVEyO28ZR7lxPXYjgXyv3KYr4DFrtUnkJP3KWrdHHCiOojEkPPeeSY57RrRxGWGii_pa7ljXPgJa7mUsN-qHfqbsMSW_TpeOpTtlt4zyGMRAF6AaHkSJLOCJrHJAbP4HdqTA-RlGPv6djxCdmV8N2GBrsRW_nywUrEEM7yGbd7e6l3m24MM2gn1M11p_lUDJwTMw1aPQ_Q3H7qCmdaZApmuDcQvoQDQm80r8eYv8dA_YG5y-LhDmelC_m67xrPT9MRgnhTwL8dEwZMSCdatWL5AXYlJkC_El5PODuXITvQmKgc8qdLIg5HOoNPMDH2nUCGqq_XUvP_Ctymii87rc5iX9RQu1k7HBy3dyEVSSZti2s9x8vd4imYSmVUT-GPf3AYgCDFbA6xFZVxcyn25svtAVQIyHsnw_0VhDGL39WWMyNXXEREOh0rXfphlnY0CSXQeDbrLXzTxTYD_EG-u8WlYhVVc3CkP-BiBRHZzl19andpvfDVmx_wfIy0avuKzrrc60_qxVnE85u05a0VD8jaFGrlf9_dfW-eSnGyZ_lNTllZeKNzIe3O_fDG7BTlmezjvH1HHguZKWdk91jQ=w970-h646-no"
---

<div class="posts-list">
  {% for post in paginator.posts %}
  <article class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
	  <h2 class="post-title">{{ post.title }}</h2>
	
	  {% if post.subtitle %}
	  <h3 class="post-subtitle">
	    {{ post.subtitle }}
	  </h3>
	  {% endif %}  
    </a>

    <p class="post-meta">
      Posted on {{ post.date | date: "%B %-d, %Y" }}
    </p>
  
    <div class="post-entry">
      {{ post.content | truncatewords: 50 | strip_html | xml_escape}}
	  <a href="{{ post.url | prepend: site.baseurl }}" class="post-read-more">[Read&nbsp;More]</a>
    </div>
  
   </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
